<div id="login">
    <h2>Sign up</h2>

    <%= active_admin_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :post }) do |f| 
        
        f.inputs do
            Devise.authentication_keys.each { |key| f.input key, :input_html => {:autofocus => true}}
            f.input :password
            f.input :password_confirmation
        end
        f.buttons do
            f.commit_button "Sign up"
        end
    end
    %>

    <%= render :partial => "active_admin/devise/shared/links" %>
</div>